.album-list
    each album in albums
        .album
            img.album-thumb(src=album.coverThumb)
            .album-details
                a.album-title(href=$routerLink({ name: 'album', hash: album.id }))= album.title
                a.album-artist(href=$routerLink({ name: 'artist', hash: album.artistId }))= album.artist