.music-library
    nav.music-library-nav
        ul.links
            li(class={ 'active': $currentRouteName === 'artists' })
                a(href=$routerLink({ name: 'artists' })) Artists
            li(class={ 'active': $currentRouteName === 'albums' })
                a(href=$routerLink({ name: 'albums' })) Albums
        materialtextfield#search-field(placeholder="Search albums, artists or songs", label="Search", 
            onkeyup=$bind("this.onSearchKeyup(event)"), 
            oninput=$bind("this.onSearchFieldInput(event)"),
            onfocus=$bind("this.onSearchFieldFocus(event)"))
        .search-results(class={ 'active': searchResults && showSearchResults && !isSearchView})
            if miniSearchResults && miniSearchResults.albums
                .albums.search-results-group
                    h4 Albums
                    each album in miniSearchResults.albums
                        .search-results-album.search-results-item
                            img.album-cover.search-results-cover(src=album.coverThumb)
                            a.album-title.search-results-title(href=$routerLink({ name: 'album', hash: album.id }))= album.title
                            a.album-artist.search-results-subtitle(href=$routerLink({ name: 'artist', hash: album.artistId}))= album.artist
            if miniSearchResults && miniSearchResults.artists
                .artists.search-results-group
                    h4 Artists
                    each artist in miniSearchResults.artists
                        .search-results-artist.searech-results-item
                            //- img.artist-cover(src=artist.coverThumb)
                            a.artist-name.search-results-title(href=$routerLink({ name: 'artist', hash: artist.id }))= artist.name
            if miniSearchResults && miniSearchResults.songs
                .songs.search-results-group
                    h4 Songs
                    each song in miniSearchResults.songs
                        .search-results-song.search-results-item
                            img.song-cover.search-results-cover(src=song.coverThumb)
                            a.song-title.search-results-title(href=$routerLink({ name: 'album', hash: song.albumId }))= song.title
                            .song-album-artist.search-results-subtitle= song.artist + ' – ' + song.album
    routerview(
        searchResults = searchResults,
        libraryInterface = libraryInterface,
        playingSong = playingSong,
        onqueuesongs=$bind("this.trigger('queuesongs', event)"), 
        onplaysongs=$bind("this.trigger('playsongs', event)"),
        onplaysongsnext=$bind("this.trigger('playsongsnext', event)")
    )
