.albums-view
    nav
        .sort
            label(for="albums-sort") Sort By:
            select.sort-select(id="albums-sort", onchange=$bindValue("sortType"))
                each sortTypeOption in sortTypeOptions
                    option(value=sortTypeOption, selected=(sortTypeOption === sortType || undefined))= sortTypeOption
    .albums
        album-list(albums=albums)
    if isLoading
        loading-spinner
