section.material-data-table-component
	header.main-table-header
		h1.table-header--title= locals.title
		span.table-header--icons
			i.material-icons filter_list
			i.material-icons more_vert
	.main-table-wrapper
		table.main-table-content
			thead.data-table-header
				tr.data-table-row
					td.table-datacell.datatype-string Dessert (100g serving)
					td.table-datacell.datatype-numeric Calories
					td.table-datacell.datatype-numeric Fat (g)
					td.table-datacell.datatype-numeric Carbs (g)
					td.table-datacell.datatype-numeric Protein (g)
					td.table-datacell.datatype-numeric Sodium (mg)
					td.table-datacell.datatype-numeric Calcium (%)
					td.table-datacell.datatype-numeric Iron (%)
					td.table-datacell.datatype-string
						i.material-icons insert_comment
						| Comments
			tbody.data-table-content
				tr.data-table-row
					td.table-datacell.datatype-string Frozen yogurt
					td.table-datacell.datatype-numeric 159
					td.table-datacell.datatype-numeric 6.0
					td.table-datacell.datatype-numeric 24
					td.table-datacell.datatype-numeric 4.0
					td.table-datacell.datatype-numeric 87
					td.table-datacell.datatype-numeric 14%
					td.table-datacell.datatype-numeric 1%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Ice cream sandwich
					td.table-datacell.datatype-numeric 237
					td.table-datacell.datatype-numeric 9.0
					td.table-datacell.datatype-numeric 37
					td.table-datacell.datatype-numeric 4.3
					td.table-datacell.datatype-numeric 129
					td.table-datacell.datatype-numeric 8%
					td.table-datacell.datatype-numeric 1%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Eclair
					td.table-datacell.datatype-numeric 262
					td.table-datacell.datatype-numeric 16.0
					td.table-datacell.datatype-numeric 24
					td.table-datacell.datatype-numeric 6.0
					td.table-datacell.datatype-numeric 337
					td.table-datacell.datatype-numeric 6%
					td.table-datacell.datatype-numeric 7%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Cupcake
					td.table-datacell.datatype-numeric 305
					td.table-datacell.datatype-numeric 3.7
					td.table-datacell.datatype-numeric 67
					td.table-datacell.datatype-numeric 4.3
					td.table-datacell.datatype-numeric 413
					td.table-datacell.datatype-numeric 3%
					td.table-datacell.datatype-numeric 8%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Gingerbread
					td.table-datacell.datatype-numeric 356
					td.table-datacell.datatype-numeric 16.0
					td.table-datacell.datatype-numeric 49
					td.table-datacell.datatype-numeric 3.9
					td.table-datacell.datatype-numeric 327
					td.table-datacell.datatype-numeric 7%
					td.table-datacell.datatype-numeric 16%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Jellybean
					td.table-datacell.datatype-numeric 375
					td.table-datacell.datatype-numeric 0.0
					td.table-datacell.datatype-numeric 94
					td.table-datacell.datatype-numeric 0.0
					td.table-datacell.datatype-numeric 50
					td.table-datacell.datatype-numeric 0%
					td.table-datacell.datatype-numeric 0%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr
					td.table-datacell.datatype-string Lollipop
					td.table-datacell.datatype-numeric 392
					td.table-datacell.datatype-numeric 0.2
					td.table-datacell.datatype-numeric 98
					td.table-datacell.datatype-numeric 0
					td.table-datacell.datatype-numeric 38
					td.table-datacell.datatype-numeric 0%
					td.table-datacell.datatype-numeric 2%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Honeycomb
					td.table-datacell.datatype-numeric 408
					td.table-datacell.datatype-numeric 3.2
					td.table-datacell.datatype-numeric 87
					td.table-datacell.datatype-numeric 6.5
					td.table-datacell.datatype-numeric 562
					td.table-datacell.datatype-numeric 0%
					td.table-datacell.datatype-numeric 45%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string Donut
					td.table-datacell.datatype-numeric 452
					td.table-datacell.datatype-numeric 25.0
					td.table-datacell.datatype-numeric 51
					td.table-datacell.datatype-numeric 4.9
					td.table-datacell.datatype-numeric 326
					td.table-datacell.datatype-numeric 2%
					td.table-datacell.datatype-numeric 22%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
				tr.data-table-row
					td.table-datacell.datatype-string KitKat
					td.table-datacell.datatype-numeric 518
					td.table-datacell.datatype-numeric 26.0
					td.table-datacell.datatype-numeric 65
					td.table-datacell.datatype-numeric 7
					td.table-datacell.datatype-numeric 54
					td.table-datacell.datatype-numeric 12%
					td.table-datacell.datatype-numeric 6%
					td.table-datacell.datatype-string
						input.md-ui.component-input.data-table-input(type="text", placeholder="add a comment")
	footer.main-table-footer
		span.rows-selection
			span.rows-selection-label Rows per page:
			span.rows-selection-dropdown
				| 10
				i.material-icons arrow_drop_down
		span.rows-amount 1-10 of 100
		span.table-pagination
			i.material-icons keyboard_arrow_left
			i.material-icons keyboard_arrow_right
