.artist-list
    each artist in artists
        .artist
            if artist.thumb
                img.artist-thumb(src=artist.thumb)
            .artist-details
                a.artist-name(href=$routerLink({ name: 'artist', hash: artist.id }))= artist.name