.artist-list
    each artist in artists
        .artist
            a(href=$routerLink({ name: 'artist', hash: artist.id }))
                if artist.thumb
                    .artist-thumb(style="background-image: url(" + artist.image + ");")
                .artist-details
                    .artist-name= artist.name